.blogPostContainer {
    width: 70%;
}
.blogHeader {
    text-align: center;
}
.postTitle {
    letter-spacing: 0.5;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
    font-weight: 400px;
}
.blogCategory {
    font-size: 20px;
    display: block;
    padding: 10px 0;
}
.postedBy {
    font-size: 22px;
    font-style: italic;
    padding: 10px 0;
    display: block;
    color: brown;
    color: #6c6c6c;
}
.postImageContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.blogPostContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}
.postContent {
    margin: 10px;
}
.postContent h3 {
    font-size: 30px;
    font-weight: 400;
    color: #333;
}
.postContent p {
    font-size: 20px;
    color: #6c6c6c;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
