.sidebarContainer {
    width: 27%;
}
.cardHeader {
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #565673;
}
.profileImageContainer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.profileImageContainer img {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
}
.personBio {
    margin: 0;
    font-size: 35px;
    color: brown;
    font-weight: 300px;
}
.recentPost {
    padding-left: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.recentPost h3 {
    font-weight: 500;
    color: #333;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0;
}
.recentPost span {
    font-size: 20px;
    font-weight: 500;
}
